$black: hsl(0, 0%, 5%);
$white: hsl(0, 0%, 100%);

$primary-color-1: hsl(240, 90%, 15%);
$primary-color-2: hsl(240, 80%, 25%);
$primary-color-3: hsl(240, 70%, 35%);
$primary-color-4: hsl(240, 60%, 42%);
$primary-color-5: hsl(240, 50%, 50%);
$primary-color-6: hsl(240, 60%, 58%);
$primary-color-7: hsl(240, 70%, 65%);
$primary-color-8: hsl(240, 80%, 75%);
$primary-color-9: hsl(240, 90%, 85%);

$secondary-color-1: hsl(22, 80%, 40%);
$secondary-color-2: hsl(22, 85%, 42%);
$secondary-color-3: hsl(22, 90%, 45%);
$secondary-color-4: hsl(22, 95%, 48%);
$secondary-color-5: hsl(22, 100%, 50%);
$secondary-color-6: hsl(22, 92%, 55%);
$secondary-color-7: hsl(22, 85%, 60%);
$secondary-color-8: hsl(22, 88%, 70%);
$secondary-color-9: hsl(22, 90%, 80%);